//colors

$white: #fff;
$red: #e45028;
$yellow: #ffcc33;
$black: #2f3234;
$grey: #5a5a5a;
$orange: #f08c33;

//normalize

@import "_misc/normalize";

//adjustment

@import "_misc/media";
@import "_misc/fonts";
@import "_misc/mixins";
@import "_misc/layout";

//blocks
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/promo.scss";
@import "blocks/reviews.scss";
@import "blocks/sidebar.scss";
@import "blocks/wearebest.scss";
@import "blocks/team.scss";
@import "blocks/order.scss";
@import "blocks/menu.scss";
@import "blocks/contacts.scss";
@import "blocks/ham-menu.scss";
@import "blocks/burgers.scss";