.menu {
  background-image: url(./img/bgr/bg_menu.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: flex-start;
}

.menu__title {
  display: inline-block;
  position: absolute;
  top: 7%;
  left: 5%;

  @include phones {
    display: none;
  }
}

.menu-accordeon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  height: 100%;

  @include phones {
    left: 0;
  }
}

.menu-accordeon__list {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.menu-accordeon__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.menu-accordeon__trigger {
  @include gagalin();
  font-size: rem(40px);
  color: $white;
  display: flex;
  position: relative;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 100%;
  padding: rem(20px) rem(10px);

  &:hover {
    cursor: pointer;
    transition: 1s;
  }

  &--meat {
    background-image: url(./img/cnt/menu_meat.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--vegan {
    background-image: url(./img/cnt/menu_vegan.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &--diet {
    background-image: url(./img/cnt/menu_diet.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @include tablets {
    font-size: rem(32px);
  }

  @include phones {
    font-size: rem(28px);
  }
}

.menu-accordeon__discription {
  @include ubuntu(Light);
  display: flex;
  font-size: rem(14px);
  color: $white;
  line-height: 1.7;
  height: 100%;
  width: 0;
  overflow: hidden;
  background-color: rgba($black, 0.8);
  transition: width 1s;
}

.disc-exit__btn {
  display: none;
  
  @include phones {
    display: flex;
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    z-index: -100;
    cursor: pointer;
  }
}

.disc-exit__icon {
  fill: $white;
  stroke: $white;
  stroke-width: rem(1px);
  width: rem(20px);
  height: rem(20px);
}


.menu-accordeon__trigger--active {
  color: $yellow;
}

.menu-accordeon__trigger--active + .menu-accordeon__discription {
  width: rem(350px);
  padding: 10% 5%;

  @include tablets {
    width: rem(150px);
    font-size: rem(13px);
  }

  @include phones {
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 70;
    font-size: rem(12px);
    padding: 10% 10%;
  }
}