.btn {
  @include ubuntu(Medium);
  font-size: rem(13px);
  padding: rem(12px) rem(15px);
  border-radius: rem(5px);
  background-color: $red;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 1s;
  }
}