.hamburger {
  background-color: $black;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
}

.ham__logo {
  position: absolute;
  top: rem(15px);
  left: rem(20px);
  z-index: 30;

  @include phones {
    max-width: 80%;
  }
}

.ham-exit {
  position: absolute;
  top: rem(30px);
  right: rem(20px);
  z-index: 40;
}

.ham-exit__btn {
  vertical-align: middle;
  width: rem(60px);
  height: rem(40px);
}

.ham-exit__icon {
  fill: $white;
  stroke: $white;
  stroke-width: rem(2px);
  width: rem(60px);
  height: rem(40px);

  @include phones {
    max-width: 80%;
  }
}

.ham-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(200px);

  @include phones {
    margin-top: rem(150px);
  }
}

.ham-menu__item {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:after {
    content: "";
    width: rem(7px);
    height: rem(7px);
    background-color: $white;
    border-radius: 50%;
    margin-bottom: rem(30px);

    @include phones {
      margin-bottom: rem(20px);
    }
  }

  &:nth-last-child(1) {
    &:after {
      display: none;
    }
  }
}

.ham-menu__link {
  display: flex;
  @include ubuntu(Regular);
  text-decoration: none;
  color: $white;
  font-size: rem(26px);
  text-transform: uppercase;
  margin-bottom: rem(30px);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 1s;
  }

  @include phones {
    font-size: rem(24px);
    margin-bottom: rem(20px);
  }
}