.header {
  position: absolute;
  width: 100%;
  padding-top: rem(12px);
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  position: relative;
  text-align: left;
  max-width: 100%;
  max-height: 100%;

  @include tablets {
    max-width: 80%;
  }
}

.logo-icon {
  max-width: rem(100px);
  max-height: rem(80px);
}

.header__wrapper {
  margin-left: rem(15px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }

.ham-menu__link{
  vertical-align: middle;
  width: rem(30px);
  height: rem(20px);
  margin-left: rem(15px);
  display: none;

  @include tablets {
    display: flex;
  }

}
.ham-menu__icon {
  stroke: $white;
  stroke-width: rem(5px);
  width: rem(30px);
  height: rem(20px);
}