.order {
  background-image: url(../img/bgr/bg_order.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.order__title {
  margin-bottom: rem(55px);
}

.order__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-form {
  display: flex;
  justify-content: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
  }
}

.order-form__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: rem(20px);
  
  @include tablets {
    width: 100%;
    margin-right: 0;
  }
}

.order-form__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: rem(20px);

  @include tablets {
    width: 100%;
    margin-right: 0;
  }
}

.order-form__row {
  display: flex;
  margin-bottom: rem(15px);

  &--inline {
    @include phones {
      justify-content: center;
      margin-bottom: rem(20px);
    }
  }
}

.order-form__block {
  flex: 1;
  margin-left: rem(20px);

  &:first-child {
    margin-left: 0;
  }

  &--inline {
    display: inline-flex;
    align-items: center;
  }

  &--floor {
    @include phones {
      display: none;
    }
  }
}

.radio {
  cursor: pointer;
  padding-left: 25px;
}

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: transparent;
}

.radio__box {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $white;
  margin-left: -25px;
}

.radio__input:checked + .radio__box {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(/img/icons/radio.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.check {
  cursor: pointer;
  padding-left: 25px;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: transparent;
}

.check__box {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: $white;
  margin-left: -25px;
}

.check__input:checked + .check__box {
  background-image: url(/img/icons/checkbox.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.order-form__input {
  width: 100%;
  border-radius: rem(5px);
  padding: rem(10px) rem(20px);
  @include ubuntu(Light);
  size: rem(14px);
  color: $black;
  border: rem(2px) solid transparent;
  outline: none;

  &:focus {
    border: rem(2px) solid $yellow;
    transition: .3s;
  }
}

.order-form__textarea {
  width: 100%;
  height: rem(125px);
  resize: none;
  border-radius: rem(5px);
  padding: rem(10px) rem(20px);
  @include ubuntu(Light);
  size: rem(14px);
  color: $black;
  border: rem(2px) solid transparent;
  outline: none;

  &:focus {
    border: rem(2px) solid $yellow;
    transition: .3s;
  }
}

.order-form__title {
  @include ubuntu(Light);
  font-size: rem(14px);
  color: $white;
  margin-right: rem(10px);
  margin-bottom: rem(10px);
  line-height: 1;
}

.btn__reset {
  background-color: transparent;
  text-transform: inherit;
  @include ubuntu(Light);
  font-size: rem(14px);

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}